<div class="child">
    <p class="title"><%= link_to "Thomas Harpur", root_path %></p>
    <p class="text left">
      I am a graduate from the University of Birmingham who achieved a 2:1 in Economics with a year in Computer Science. After graduating and spending 6 months working in Canada I began to teach myself Web Development using online resources. I have now reached a stage where I feel confident in my programming skills but would love the opportunity to develop them in a practical environment.
    </p>
    <p class="text left">
      My other main interests are in skiing and music. I have been skiing for around 15 years and I try to get a few weeks in the mountains each year. I have also been playing the drums for around 9 years and try to see music live as often as I can!
    </p>
    <p class="text left">
      I consider myself to be a creative, thoughtful and reliable and I am looking forward to oppurtunities to work in new areas and face new challenges. Thanks for reading about me!
    </p>
	  <p class="title">Contact</p>
	  <p class="text">
	    Email: t.w.harps@gmail.com
	  </p>

	  <p class="text">
	    Mobile: 07891 347062
	  </p>

	  <p class="text">
	    Github: <%= link_to "https://github.com/t-harps", "https://github.com/t-harps" %>
	  </p>
</div>
