<div class="row child">
	<div class="col-md-5 right">
 		<p>
    	<strong>EDUCATION</strong>
		</p>
		
		<p class="subtitle">
		  <strong>University of Birmingham</strong>
		</p>
		<div class="text">
			<p><em>2010-2014</em></p>
			<p>
			  BSc (Hons) Economics with a year in Computer Science (2:1)
			</p>
		</div>
		
		<p class="subtitle">
		  <strong>Cranleigh School</strong>
		</p>
		<div class="text">
			<p><em>2002-2010</em></p>
			<p>
			  A levels: Maths (A), Economics (A), Physics (B)
			</p>
			<p>
			  AS levels: Further Maths (A), Critical Thinking (B)
			</p>
			<p>
			  GSCEs: 4 A*’s (including Maths), 4 A’s (including English), 3 B’s
		</p>
		</div>
		
		<p>
		  <strong>SKILLS AND QUALIFICATIONS</strong>
		</p>
		<div class="text">
			<ul>
			  <p>
			    Proficient with Windows and Apple operating systems and Microsoft Office.
			  </p>
			  <p>
		      Proficient with Java, Ruby, Ruby on Rails, HTML, CSS, SQL.
			  </p>
		    <p>
	        Familiar with Javascript, Jquery.
		    </p>
		    <p>
	        Familiar with Github and Heroku.
		    </p>
		    <p>
		      Familiar with Adobe Photoshop.
		    </p>
		    <p>
	        Level 2 qualified NZSIA ski instructor.
		    </p>
		    <p>
	        Full Driving license, held for 6 years.
		    </p>
		    <p>
	        Basic French and Japanese.
		    </p>
			</ul>
		</div>
		
	</div>
	<div class="col-md-2 middle name">
	<!--
	  <p>
		  <strong>Thomas Harpur</strong>
		</p>
		<p class="text"> 
		I am a creative graduate looking to use my Computer Science skills and passion for programming to begin a career in the Technology industry.
		</p>
		-->
		<br><br><br>
		<%= link_to "Thomas Harpur", root_path %>
	</div>
	<div class="col-md-5 left">
	  <p>
			<strong>WORK EXPERIENCE</strong>
		</p>
    
		<p class="subtitle">
		  <strong>Whistler Blackcomb Resort Lift Operations</strong>
		</p>
		<div class="text">
		<p><em>2014 - 15, Nov - April</em></p>
		<p>
		    Worked as a Lift operator in one of North America’s busiest ski resorts. Gained experience in guest services, greeting guests and providing
		    information whilst upholding high safety standards.
		</p>
		</div>
		
		<p class="subtitle">
		  <strong>Surfdome Online Store Customer Services</strong>
		</p>
		<div class="text">
		<p><em>2014, Sept - Nov</em></p>
		<p>
		    Answered phones and replied to emails regarding customer queries and complaints. Gained experience in resolving customer complaints.
		</p>
		</div>
		
		<p class="subtitle">
		    <strong>Surfdome Pop-up Store</strong>
		</p>
		<div class="text">
		<p><em>2014, August - Sept</em></p>
		<p>
		    Sales assistant in a temporary pop-up store in Old Street station. Gained skills in greeting/serving customers, managing stock, handling cash
		    and working as part of a sales team.
		</p>
		</div>

		<p class="subtitle">
		    <strong>Webjam/Centrepoint Computer Services Ltd.</strong>
		</p>
		<div class="text">
		<p><em>2013, July - Sept</em></p>
		<p>
		    Worked with this technology company based in Tolworth, specifically their Webjam division that provides private social networking software for
		    organisations. Helped design websites using their software for various clients and also wrote a learning manual for Centrepoint’s CRM system, sTarget.
		</p>
		</div>
		
		<p class="subtitle">
		  <strong>University of Birmingham Ski And Snowboard Society</strong>
		</p>
		<div class="text">
		<p><em>2012/14 + 13/14, Sept - June</em></p>
		<p>
		    Elected Committee member of the society, organized weekly/bi-weekly ski trips to various locations. Booked transport and accommodation for
		    these trips. Took minutes and managed membership for 600+ members each year. Responsible for club equipment (skis and snowboards). Replaced old/damaged
		    equipment, distributed this equipment. Created designs and logos on Photoshop. Also helped organize and sell two holidays to the Alps for over 1200
		    students.
		</p>
		</div>
		
		<p class="subtitle">
		  <strong>The Buccaneer Inn</strong>
		</p>
		<div class="text">
		<p><em>2012, June - Sept</em></p>
		<p>
		  Worked as bar staff and server at this pub in Tenby, Wales.
		</p>
		</div>
		
		<p class="subtitle">
		  <strong>The Bar Agency</strong>
		</p>
		<div class="text">
		<p><em>2008, March - April</em></p>
		<p>
		  <strong> </strong>Worked with this estate agency that specialized in public houses. Performed database entry. Gained experience with Microsoft Excel.
		</p>
		</div>
		
	</div>
</div>
