<div class="row child">
	<div class="col-md-4 name"><%= link_to "CV", cv_path %></div>
	<div class="col-md-4 name">
	  <p class='name'>Thomas Harpur</p>
	  <p class="sub"> 
		  I am a creative graduate looking to use my Computer Science skills and passion for programming to begin a career in the Technology industry.
		</p>
	</div>
  <div class="col-md-4 name"><%= link_to "Portfolio", portfolio_path %></div>
</div>


