@import "bootstrap-sprockets";
@import "bootstrap";

/* Base stuff */

html,
body {
  height: 100%;
  background-color: #000033;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  .title {
    color: #fff;
    font-family: 'Italiana', serif;
    font-size: 20px;
  }
  .text {
    color: #939393;
    font-size: 15px;
  }
}

/* Main container */

.wrapper {
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  /* background-image: url('grey.jpg');
  *  background-position: center;
  *  background-attachment: fixed; 
  */
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,2);
          box-shadow: inset 0 0 100px rgba(0,0,0,2);
}

[class*="col-"] {
  padding-top: 10px;
  padding-bottom: 15px;
}

/* Vertical centering helpers */

.parent {
    display: table;
    table-layout: fixed;
}

.child {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

/* Links */

a,
a:focus,
a:hover {
  color: inherit;
}

.box {
  border: 1px solid #3f3f3f;
}

.left {
  padding-left: 100px;
  padding-right: 100px;
}

.right {
  text-align: right;
  padding-top: 120px;
}

.middle {
  vertical-align: middle;
  height: 100%;
  min-height: 100%;
  padding-top: 120px;
}
